.FormularioPOAnular {
  width: 771px;
  height: 178px;
  display: flex;
  flex-direction: column;
  color: black;
  border-radius: 22px;
  padding: 36px 32px 24px 35px;
  background-color: white;
  font-family: "Work Sans";
}

.FormularioPOAnular textarea {
  border-bottom: 2px solid lightgrey;
  border-radius: 4px;
  color: #1e1e1f;
  padding: 2%;
}

.campos{
  display: flex;
  align-items: center;
}
.campos p{
  color: #C4161C;
}
