.box{
    margin: 3%;
    display: grid;
    grid-area: auto;
    align-items: center;
    grid-template-columns: 3% 30% 50% 3% 5% 3%;
}
  .box h1{ /* ¡Bienvenido, xxxxx! */

  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #C4161C;
  }