input {
  width: 383px;
  height: 29px;
  background: #fff;
  border: none;
  border-radius: 10px;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  font-family: "Work Sans";
  filter: drop-shadow(1px 2px 3px rgba(70, 118, 251, 0.41));
}

