input {
  width: 383px;
  height: 29px;
  background: #fff;
  border: none;
  border-radius: 10px;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  font-family: "Work Sans";
  filter: drop-shadow(1px 2px 3px rgba(70, 118, 251, 0.41));
}
.input-icon {
	color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 320px;
  top: 53%;
  transform: translateY(-50%);
}
.input-wrapper {
	position: relative;
	width: 271px;
}
.busquedaProyecto {
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 360px;
  
}
