.contenedorLogin1{
    display: flex;
    height: 100vh;
    font-size: 120%;
}

.contenedorLogin{
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;   
    color:black;
}

.input{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 14%;
    margin-left: 3%;
    padding: 1%;
    border-bottom: 2px solid lightgrey;
    border-radius: 0%;
    background-color: transparent;
    font-family: "Work Sans";
    opacity: 40%;
    font-size: 100%;
    
}

.btn{
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
    cursor: pointer;
}
