.proyectoOperativo {
  border: 1px solid #e9eff4;
  width: 1100px;
  height: 55px;

  display: grid;
  grid-template-columns: 300px 180px 180px 180px 80px 80px 80px;
  align-items: center;
  
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  align-items: center;
  letter-spacing: -0.02em;
  color: #666666;
  text-align: center;
}
.proyectoOperativo img{
  cursor: pointer;
}

.estado-p--activo{
  color: #31B465;
}
.estado-p--cerrado{
  color: #FFD600;
}
.estado-p--cancelado{
  color: #9E0B0F;
}
.estado-p--suspendido{
  color: #0024A9;
}
.estado-p--anulado{
  color: #7E818C;
}