.FormularioPOver {
  position: absolute;
  width: 80%;
  height: 60%;
  left: 71px;
  top: 92px;
  padding: 40px;
  background: #ffffff;
  /* Shadow */
  box-shadow: 1px 2px 3px rgba(70, 118, 251, 0.41);
  border-radius: 22px;
  color: #666666;
  display: flex;
  flex-direction: column;
  border-radius: 22px;
  justify-content: space-around;
}

textarea {
  background-color: #f9fbfc;
  border: none;
  border-bottom: 1px solid #202329;
  border-radius: 2px;
  color: #1e1e1f;
  width: calc(100% - 25px);
}
.divisor {
  display: flex;
}
.motivo {
  display: flex;
  flex-direction: column;
}

.entradas {
  height: 29px;
  background: #fff;
  border: none;
  border-radius: 10px;
  padding-top: 1%;
  font-family: "Work Sans";
}
.finalver{
  display: flex;
  justify-content: flex-end;
}