.formularioPO {
  position: absolute;
  width: 1100px;
  height: 400px;
  left: 71px;
  top: 92px;
  padding: 40px;

  background: #ffffff;
  /* Shadow */

  box-shadow: 1px 2px 3px rgba(70, 118, 251, 0.41);
  border-radius: 22px;
  color: #666666;
}

.formularioPO textarea {
  background-color: #f9fbfc;
  border: none;
  border-bottom: 1px solid #202329;
  border-radius: 2px;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  width: calc(100% - 25px); 
}
