.formularioPO {
  position: absolute;
  display: flex;
  width: 80%;
  height: 50%;
  padding: 5%;
  background: #ffffff;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 1px 2px 3px rgba(70, 118, 251, 0.41);
  border-radius: 22px;
  color: #666666;
}

.formularioPO textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid lightgrey;
  border-radius: 2px;
  color: #1e1e1f;
  width: calc(100% - 25px); 
  resize: none;
}

.final{
  margin: 2%;
  display: grid;
  grid-area: auto;
  align-items: center;
  grid-template-columns: 70% 20% 20%;
  color: #c4161c;
  justify-self: space-around;
}

.entradas{
  display: flex;
  justify-content: space-around;
  margin-left: 1%;
  margin-bottom: 1%;
  padding-top: 1%;
  font-family: "Work Sans"; 
}

.estado{
  font-family: "Work Sans" ; 
  border: none;
  background-color: transparent;
  margin: 1%;
}

.input.fecha{
  font-family: "Work Sans";
  display: grid;
  justify-content: space-around;
  grid-template-columns: 15% 6%;
  margin-left: 1%;
  margin-bottom: 2%;
  padding-top: 1%;
  border: none;
  border-bottom: 2px solid lightgrey;
  border-radius: 2px;
}

.input{
  font-family: 'Work Sans';
}

.divisor{
  display: flex;
  font-family: "Work Sans";
  justify-content: space-between;
  margin-left: -1%;
  margin-bottom: 2%; 
}

.titulos{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  padding-top: 1%;
  align-items:flex-start
}

.atras{
  position: initial;
  align-items: start;
  height: 38px;
}

.Atras img{
  cursor: pointer;;
}