.proyectos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16px;
  line-height: 23px;
  font-style: normal;
  color: #3a3a49;
  padding-top: 5%;
}
.grafica {
  text-align: center;
  width: 100%;
  font-size: 16px;
  line-height: 23px;
  font-style: no rmal;
  color: #3a3a49;
}
.puntito{
  justify-content: center;
  display: grid;
  grid-template-columns: 4% 35%;
  align-items: center;
}
.puntito p{
  margin-top: 2px;
}

#p-activo{
  color: #31B465;
}

#p-cerrado{
  color: #FFD600;

}
#p-anulado{
  color: #7E818C;
}

#p-cancelado{
  color: #9E0B0F;
}

#p-suspendido{
  color: #0024A9;
}