.proyectos {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 16.8301px;
  line-height: 23px;
  font-style: normal;
  color: #3a3a49;
}
.grafica {
  text-align: center;
  width: 100%;
  font-size: 16.8301px;
  line-height: 23px;
  font-style: no rmal;
  color: #3a3a49;
}
.puntito {
  display: grid;
  justify-content: center;
  grid-template-columns: 1% 37%;
  align-items: center;
}

#p-activo {
  color: #31b465;
}
#p-cerrado {
  color: #FFD600;
}